.button {
  font-weight: 600;
  text-transform: uppercase;

  @include breakpoint(medium down) {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  @include breakpoint(small only) {
    font-size: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.button + .button {
  margin-left: 1rem;

  @include breakpoint(medium down) {
    margin-left: 0.5rem;
  }
}

.button.hollow {
  &:hover {
    background: $primary-color;
    border-color: $primary-color;
    color: $white;
  }

  &:focus {
    background: scale-color($primary-color, $lightness: -10%);
    border-color: $primary-color;
    color: $white;
  }
}

.button.white {
  color: $white;
  border-color: $white;

  &.hollow {
    background: rgba(0,0,0,0.15);
  }

  &:hover {
    background: $primary-color;
    border-color: $white;
    color: $white;
  }

  &:focus {
    background: scale-color($primary-color, $lightness: -10%);
    border-color: $white;
    color: $white;
  }
}
