section.homepage-hero {
  height: 100vh;
  background-image: url(../../assets/img/homepage-hero-retail.jpg);
  background-size: cover;
  background-position: 40% center;
  @include box-shadow(0px, 0px, 5px, rgba(0,0,0,0.15), inset);

  .homepage-header {
    color: $white;
    height: 80%;
    width: 73rem;
  }

  @include breakpoint(medium only) {
    height: auto;

    .homepage-header {
      margin-left: 0;
      padding: 8rem 0;
      width: 48rem;
    }
  }

  @include breakpoint(small only) {
    height: auto;

    .homepage-header {
      margin-left: 0;
      padding: 3rem 0 4rem;
      max-width: 20rem;
    }
  }
}

section.feature {
  position: relative;
  overflow: hidden;

  .feature-img {
    position: absolute;
    bottom: 0;
    width: 64rem;

    &.right-side {
      left: 42%;
    }
    &.left-side {
      float: right;
      right: 46%;
    }
  }

  @include breakpoint(medium down) {
    .feature-img {
      width: 60rem;
    }
  }

  @include breakpoint(small only) {
    & > .row:first-of-type {
      padding-top: 0;
      padding-bottom: 0.5rem;
    }

    .feature-img {
      bottom: 0;
      position: relative;
      width: 35rem;

      &.right-side {
        left: 1rem;
      }
      &.left-side {
        right: 1rem;
      }
    }
  }
}

section.feature-bubbles {
  padding: 11rem 0;

  .feature-image {
    filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.15));
  }

  @include breakpoint(small only) {
    padding-top: 3rem;
    padding-bottom: 0;
  }
}

section.feature-traffic {
  background: $light-gray;
  @include box-shadow(0px, 0px, 5px, rgba(0,0,0,0.15), inset);

  .feature-img {
    filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.15));
  }

  & > .row:first-of-type {
    padding-top: 4rem;
    padding-bottom: 1.5rem;

    @include breakpoint(small only) {
      padding-top: 3rem;
      padding-bottom: 0;
    }
  }
}

section.feature-platforms {
  padding: 16rem 0;

  .feature-image {
    filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.15));
  }

  @include breakpoint(medium down) {
    padding: 14.5rem 0;
  }

  @include breakpoint(small only) {
    padding-top: 3rem;
    padding-bottom: 0;
  }
}

section.feature-analytics {
  padding: 14rem 0;
  @include box-shadow(0px, 0px, 5px, rgba(0,0,0,0.15), inset);

  @include breakpoint(small only) {
    padding-top: 3rem;
    padding-bottom: 0;
  }
}

section.feature-partners {
  padding: 3rem 0 2rem;
  background: $light-gray;

  h3 {
    color: $medium-gray;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
  }

  .row.partners-bubbles {
    padding-top: 2rem;

    .column {
      padding-bottom: 1rem;
    }
  }
  @include breakpoint(small only) {
    .row.partners-bubbles {
      padding-top: 0.5rem;
    }
  }
}

section.cta {
  padding: 8rem 0;
  @include box-shadow(0px, 0px, 5px, rgba(0,0,0,0.15), inset);

  @include breakpoint(small only) {
    padding: 5rem 0;
  }
}
