#main-nav {
  padding-top: 2rem;

  .pareto-white-logo {
    display: none;
  }

  .menu > li {
    text-align: center;
    font-size: 1rem;

    & > a {color: $dark-gray;}
    &> a:hover { color: $black; }

    .button {
      color: $primary-color;
      margin-left: 1rem;
      margin-top: 0.25rem;
      padding: 1.1em 2.4em 0.8rem;
      &:hover {
        color: $white;
      }
    }
  }
  
  @include breakpoint(small only) {
    padding-top: 0.75rem;
  }
}

#main-nav.is-white {
  .pareto-color-logo {
    display: none;
  }

  .pareto-white-logo {
    display: block;
  }

  .menu > li {
    & > a {color: $light-gray;}
    & > a:hover { color: $white; }

    .button {
      border-color: $white;
      &:hover {
        border-color: $white;
      }
      &:focus {
        background: scale-color($primary-color, $lightness: -10%);
      }
    }
  }
}
