.quote-container {

  .column.happy-customer {
    padding-right: 0;
    margin-top: 0.15rem;
  }

  .quote {
    p {
      font-size: 0.80rem;
      line-height: 1.4;
      margin: 0;
    }
    .author {
      font-size: 0.75rem;
    }
  }

  @include breakpoint(small only) {
    margin-bottom: 2rem;
  }
}
