<footer>
  <div class="row align-justify align-middle">
    <div class="column small-shrink">
      <img src="{{root}}assets/img/pareto_logo-grey.svg" />
    </div>
    <div class="column show-for-large text-center footer-menu">
      <a href="{{root}}pricing">Pricing</a>
      <a href="{{root}}connect">Connect</a>
      <a href="https://pareto.reelyactive.com/#/page/login">Login</a>
    </div>
    <div class="column text-right copyright">
      <a href="http://www.reelyactive.com" target="_blank">&copy; reelyActive 2016-2018</a>
    </div>
  </div>
</footer>
