<nav id="main-nav" class="column small-12 {{color}}">
  <div class="row">
    <a href="{{root}}" id="logo" class="column shrink">
      <img src="{{root}}assets/img/pareto-reelyactive_logo-white.svg" class="pareto-white-logo" alt="Pareto">
      <img src="{{root}}assets/img/pareto-reelyactive_logo-color.svg" class="pareto-color-logo" alt="Pareto">
    </a>
    <ul class="column menu align-right hide-for-small-only">
      <li><a href="#" class="button hollow">Get started</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#" class="{{#if connect}}active{{/if}}">Connect</a></li>
      <li><a href="{{root}}pricing" class="{{#if pricing}}active{{/if}}">Pricing</a></li>
    </ul>
  </div>
</nav>
