<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ title }}">
    <meta itemprop="description" content="{{ description }}">
    <meta itemprop="image" content="{{root}}{{ social-img-url }}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@reelyActive">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:creator" content="@reelyActive">
    <meta name="twitter:image:src" content="{{root}}{{ social-img-url }}">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:url" content="http://getpareto.com" />
    <meta property="og:image" content="{{root}}{{ social-img-url }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:site_name" content="Pareto" />

    <!-- Metadata, the way it should be -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Brand",
        "name": "Pareto"
      }
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49659454-3', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    {{> body}}
    {{> footer}}
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
